In [10]:
# 1111
# 2222
# 3333
# 4444
# 5555
for i in range(1,6):
    for j in range(1,6):
        print(i,end=" ")
    print("\n")

1 1 1 1 1

2 2 2 2 2

3 3 3 3 3

4 4 4 4 4

5 5 5 5 5

In [11]:
# 55555
# 44444
# 33333
# 22222
# 11111
for i in range(5,0,-1):
    for j in range(5,0,-1):
        print(i,end=" ")
    print("\n")

5 5 5 5 5

4 4 4 4 4

3 3 3 3 3

2 2 2 2 2

1 1 1 1 1

In [12]:
# 1
# 22
# 333
# 4444
# 55555
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [13]:
# 5
# 44
# 333
# 2222
# 11111
for i in range(5,0,-1):
    for j in range(1,7-i):
        print(i,end=" ")
    print("\n")

5

4 4

3 3 3

2 2 2 2

1 1 1 1 1

In [14]:
# 5
# 44
# 333
# 2222
# 11111
for i in range(5,0,-1):
    for j in range(1,i-5,-1):
        print(i,end=" ")
    print("\n")

5

4 4

3 3 3

2 2 2 2

1 1 1 1 1

In [15]:
# 55555
# 4444
# 333
# 22
# 1
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(i,end=" ")
    print("\n")

5 5 5 5 5

4 4 4 4

3 3 3

2 2

1

In [18]:
# 12345
# 12345
# 12345
# 12345
# 12345
for i in range(5):
    for j in range(1,6):
        print(j,end=" ")
    print("\n")

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

In [20]:
# 54321
# 54321
# 54321
# 54321
# 54321
for i in range(5):
    for j in range(5,0,-1):
        print(j,end=" ")
    print("\n")

5 4 3 2 1

5 4 3 2 1

5 4 3 2 1

5 4 3 2 1

5 4 3 2 1

In [21]:
# 1
# 12
# 123
# 1234
# 12345
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [23]:
# 5
# 54
# 543
# 5432
# 54321
for i in range(6):
    for j in range(5,5-i,-1):
        print(j,end=" ")
    print("\n")

5

5 4

5 4 3

5 4 3 2

5 4 3 2 1

In [26]:
# 54321
# 5432
# 543
# 54
# 5
for i in range(5):
    for j in range(5,i,-1):
        print(j,end=" ")
    print("\n")

5 4 3 2 1

5 4 3 2

5 4 3

5 4

5

In [34]:
# 1 2 3 4 5
#   2 3 4 5
#     3 4 5
#       4 5
#         5

for r in range(1,6):
    for c in range(1,6):
        if c>=r:
            print(c,end=" ")
        else:
            print(" ", end=" ")
    print("\n")

1 2 3 4 5

  2 3 4 5

    3 4 5

      4 5

        5

In [50]:
#     1
#    21
#   321
#  4321
# 54321

for i in range(6):##0,1,2,3,4
    for j in range(5,0,-1):#5,4,3,2,1
        if j<=i: 
            print(j,end=" ")
        else:
            print(" ",end=" ")
    print("\n")

        1

      2 1

    3 2 1

  4 3 2 1

5 4 3 2 1

In [56]:
#     5
#    45
#   345
#  2345
# 12345
for i in range(5,0,-1):#012345
    for j in range(1,6):#
        if j>=i:
            print(j,end=" ")
        else:
            print(" ",end=" ")  
        
    print("\n")

        5

      4 5

    3 4 5

  2 3 4 5

1 2 3 4 5